/* Custom Stylesheet */
/**
* Use this file to override Framework files so you can update
* the core Framework files in the future
*
* Made By Bastien Champin
*/

/* ===== DEFAULT CSS ===== */

/* Sticky footer */
body {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}
/* End of Sticky footer */

main {
  flex: 1 0 auto;
  margin-top: 20px;
}

#logo_central {
  height : 55px;
  margin-top: 5px;
}

/* ===== END OF DEFAULT CSS ===== */

/* ===== YOUR CSS ===== */
